@import './styles/variables/colors.module.scss';
@import './styles/variables/font-sizes.module.scss';

.btn {
    font-weight: $weight-semibold;
    color: $colorPrimary;
    background-color: $colorBlue;
    padding: 12px 30px;
    border: 1px solid $colorSecondary;
    border-radius: 14px;
    text-align: center;
    cursor: pointer;

    ::placeholder {
        color: white;
    
    }
}