// Main Colors
$colorBlue: #508AFC;
$colorDarkPurple: #741FE4;

// Background Colors
$colorBgPrimary: $colorBlue, $colorDarkPurple;
$colorBgSecondary: $colorDarkPurple, $colorBlue;

@mixin gradient($direction, $gradient) { 
    background: -webkit-linear-gradient($direction, $gradient);
}

// Font Colors
$colorPrimary: white;
$colorSecondary: #B5B1B5;

// Button Colors
$colorRed: #C24358;
$colorGreen: #148F49;
$colorYellow: #CC9018;
$colorBlue: #508AFC;