//MAIN COLOR
$colorOrange: #FF9000;
$colorRed: #E44332;


//FONTS COLORS
$colorFontPrimary: black;
$colorFontSecondary: #B5B1B5;
$colorFontWhite: white;


//BUTTON COLORS
$colorBtnRed: #C24358;
$colorBtnGreen: #148F49;
$colorBtnBlue: #508AFC;