// Font Family
    $fontDefault: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Fira Sans, Droid Sans, Helvetica Neue, sans-serif;

// Font Default Size
    $fontSizeDefault: 16px;
    
// Font-Weights
    $weight-light: 300;
    $weight-normal: 400;
    $weight-medium: 500;
    $weight-semibold: 600;

    