@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

// FONT DEFAULT SIZE
$fontSizeDefault: 16px;


//FONT FAMILIES
$fontDefault: 'Poppins', sans-serif;


// LINE HEIGHT
$lineHeightDefault: 1rem;


// LETTER SPACING
$letterSpacingDefault: 1px;


// FONT-WEIGHTS
$fontWeightNormal: 400;
$fontWeightMedium: 500;
$fontWeightSemiBold: 600;