@import './styles/variables/colors.module.scss';
@import './styles/variables/font-sizes.module.scss';

.tasklist {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    padding: 2rem 0;
}

.tasklist__container {
    text-align: center;
    display: grid;
    grid-template-columns: 0.5fr 1fr 3fr repeat(3, 1fr);
}