@import '/styles/main.module.scss';

html,
body {
  padding: 0;
  margin: 0;
  font-family: $fontDefault;
  color: $colorPrimary;
  @include gradient(left, $colorBgPrimary);
}

a {
  color: inherit;
  text-decoration: none;
}

* {
  box-sizing: border-box;
}