@import '/styles/main.module.scss';

.container {
  display: flex;
  align-items: center;
  justify-content: center;
}

.main {
  @include gradient(left, $colorBgSecondary);
  border-radius: 3rem;
  border: 0.3px solid $colorSecondary;
  box-shadow: 10px 10px 10px $colorBgSecondary;
  padding: 2rem;
}

.title {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 1rem;
}

.table {
  text-align: center;
  display: grid;
  grid-template-columns: 0.5fr 1fr 3fr repeat(3, 1fr);
  grid-column-gap: 0px;
  grid-row-gap: 0px;
  border-bottom: 1px solid white;
}